{% extends 'polls/layout.html' %}

{% block main %}
<style>
    ul{
        list-style: none;
    }
    #avatar{
        width: 100px;
        height: 100px;
    }

</style>

<h2>Route details</h2>
<br>
<table class="table">
    <tbody>
        <tr>
            <td><i class="material-icons">date_range</i></td>
            <td>{{ details.dep_date }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ details.dep_address }} &#8594; {{ details.arr_address}}</td>
        </tr>
        <tr>
            <td><i class="material-icons">person_outline</i></td>
            <td>Left {{ details.seats }} seats</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {{ details.user }}
            </td>
            <td>
                {{ details.comments }}
            </td>
            <td>
                <img class="img-thumbnail" id="avatar" src="{{ details.user.profile.avatar.url }}" alt=""/>
            </td>
        </tr>
        <tr>
            <td><i class="material-icons">done</i> </td>
            <td>Auto-confirmation</td>
        </tr>
        
        <tr>
            {% for passenger in details.passengers.all %}
            <td><i class="material-icons">face</i></td>
            <td>{{ passenger }}</td>     
            {% endfor %}
        </tr>
        
    </tbody>
</table>
<form action="{% url 'details' details.pk %}" method="post">
    {% csrf_token %}
    <button type='submit' class="btn btn-primary">Reserve</button>
</form>
{% endblock %}