{% extends 'polls/layout.html' %}
{% load crispy_forms_tags %}

{% block main %}

{% if message %}
    {{ message }}
{% endif %}
<style>
    #avatar{
        width: 100px;
        height: 100px;
    }
</style>
<form action="{% url 'edit_profile' %}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
            <div class="row">
                <!-- resource for static files src={ polls/images/some.img } -->
                <img class="img-thumbnail float-left" id="avatar" src="{{ user.profile.avatar.url }}" alt=""/>
            </div>
        </div>
        <div class="col">
            <div class="col-md-3">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>{{ u_form|crispy }}</td>
                        </tr>
                        <tr>
                            <td>{{ a_form|crispy }}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>    
</form>
{% endblock %}
