{% extends 'polls/layout.html' %}

{% block main %}
<form>

    <h2>
        <p>Search for a trip</p>
    </h2>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">From</label>
            <input type="text" class="form-control mb-2" id="departure" placeholder="From">
          </div>
          <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">To</label>
                <input type="text" class="form-control mb-2" id="destination" placeholder="To">
          </div>
          <div class="col-auto">
            <div class="form-check mb-2">
                    <label class="sr-only">Pax</label>
                    <input type="number" size='1' min='1' class="form-control mb-2" id="pax" value='1'>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </div>
        </div>
      </form>
{% endblock %}