{% extends 'polls/layout.html' %}
{% load crispy_forms_tags %}

{% block main %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=<515f3159-bfbe-4a5b-9067-a36951149219>&lang=en_US" type="text/javascript"></script>
<script type='text/javascript'>
ymaps.ready(init);
function init(){
    var suggestView1 = new ymaps.SuggestView('dep_address');    
    var suggestView2 = new ymaps.SuggestView('arr_address');    
};
</script>
<form method='post' autocomplete="off">
  {% csrf_token %}
  <div class='container'>
      <div class='row justify-content-md-center'>
        <h2>Offer a trip</h2>
      </div>
    <div class='row justify-content-md-center'>
      {% crispy form %}
    </div>
  </div>
</form>
{% endblock %}