{% extends 'polls/layout.html' %}
{% load crispy_forms_tags %}

{% block main %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=<515f3159-bfbe-4a5b-9067-a36951149219>&lang=en_US" type="text/javascript"></script>
<script type='text/javascript'>
ymaps.ready(init);
function init(){
    var suggestView1 = new ymaps.SuggestView('dep_address');    
    var suggestView2 = new ymaps.SuggestView('arr_address');    
};
</script>
<form method='post'>
    {% csrf_token %}
    <div class="container">
    <h2>
        <p>Offer a trip</p>
    </h2>
    
    <div class="row">
        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}
    </div>
    <script>
        $(document).ready(function() {
            $( "#dep_date" ).datepicker();
        });
    </script>
    <div class="row">
        <label for="{{ form.dep_date.id_for_label }}">Departure date:</label>
        <input id="dep_date" name="dep_date" type="search" autocomplete="off">
    </div>    
    <div class="row">
        <label for="{{ form.dep_address.id_for_label }}">Departure from:</label>
        <input id="dep_address" name="dep_address" type="search" autocomplete="off">
    </div>
    <div class="row">
        <label for="{{ form.arr_address.id_for_label }}">Arrival to:</label>
        <input id="arr_address" name="arr_address" type="search">
    </div>
    <div class="row">
        <label for="{{ form.seats.id_for_label }}">Seats:</label>
        {{ form.seats }}
    </div>
    <div class="row">
        <label for="{{ form.comment.id_for_label }}">Comment:</label>
        {{ form.comment }}
    </div>
    <div class='row'>
        <div class="col text-center">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
</div>
</form>   
<form>
    {% csrf_token %}
        <h2>
            <p>Offer a trip</p>
        </h2>
        
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="{{ form.title.id_for_label }}">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" value='{{form.title.value}}'>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary"></button>
</form>
<form>
    <div class='container'>
  {% crispy form %}
</div>
</form>
{% endblock %}