{% extends 'polls/layout.html' %}

{% block main %}
<h2>
    <p>Search for a trip</p>
</h2>
  {% for offer in offers %}    
  <div class="list-group list-group-flush" id="offer">
    <a href="" class="list-group-item list-group-item-action">{{ offer.title }}
      <small>3 days ago</small>
    </a>
  </div>
  {% endfor %}
  
  <!--Open on mouse click-->
  <script>
    $("#offer a" ).on('click', function() {
      $( this ).tab('show');
    });
  </script>

<!--
  <ul>
    {% for offer in offers %}
    <li>
      <a href='{% url "offer_details" offer.id %}'>{{ offer }}</a>
    </li>     
    {% endfor %}   
</ul>
-->
{% endblock %}