{% extends 'polls/layout.html' %}

{% block main %}
{% load static %}

<div class="content-section">
    <div class="media">
        <!-- resource for static files src={% polls/images/some.img %} -->
        <img class="rounded-circle profile-img"  src="{{ user.profile.avatar.url }}" alt=""/>
    </div>    
    <div class="media-body">
        <div class="details">
            <h2>{{ user.username }}</h2>
            <p class="profile-info" id='email'><span>{{ user.email }}</span></p>
        </div>
        <div class='my-trips'>
            <p>MY TRIPS</p>
            <a href="">As a driver</a><br/>
            <a href="">As a passenger</a><br/> 
        </div> 
        <div class="button">
        <a class="btn btn-outline-primary" href="{% url 'edit_profile' %}" role="button">Edit profile</a>
    </div>
    </div>
</div>

{% endblock %}
