{% extends 'polls/layout.html' %}

{% block main %}

<h2>Profile</h2>
<br>
<div class="row">
    <div class="col">
        <!-- resource for static files src={ polls/images/some.img } -->
        <img class="img-thumbnail float-left" id="avatar" src="{{ user.profile.avatar.url }}" alt=""/>
    </div>    
    <div class="col">
        <div class="details">
            <h2>{{ user.username }}</h2>
            <p class="profile-info" id='email'><span>{{ user.email }}</span></p>
        </div>
        <div class='my-trips'>
            <p>MY TRIPS</p>
            <a href="">As a driver</a><br/>
            <a href="">As a passenger</a><br/> 
        </div> 
        <a class="btn btn-outline-primary" href="{% url 'edit_profile' %}" role="button">Edit profile</a>
    </div>
</div>

{% endblock %}
