{% extends 'polls/layout.html' %}

{% block main %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=<515f3159-bfbe-4a5b-9067-a36951149219>&lang=en_US" type="text/javascript"></script>
<script type='text/javascript'>
  ymaps.ready(init);
  function init(){
      var suggestView1 = new ymaps.SuggestView('dep_address');    
      var suggestView2 = new ymaps.SuggestView('arr_address');    
  };
  </script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('#pax').addEventListener('keyup', function(){
      let input = parseInt(document.querySelector('#pax').value, 10);
      let li = document.getElementsByTagName('li');
      for (let i = 0; i < li.length; i++) {
        let number = parseInt(li[i].innerHTML, 10);
        if (number < input) {
          li[i].style.display = 'none';
        }
        else {
          li[i].style.display = '';
        };
      };
    });
    });
  </script>
  <h5>Search for a trip</h5>
  <div class='col'>
    <label for="dep_address">From:</label>   
    <input id="dep_address" type="search" autocomplete="off">
  </div>

  <div class='col'>
    <label for="arr_address">To:</label>   
    <input id="arr_address" type="search" autocomplete="off">
  </div>
  <script>
      $(document).ready(function() {
          $( "#dep_date" ).datepicker();
      });
  </script>
  <div class='col'>
    <label for="date">Date:</label>
    <input id="dep_date" autocomplete="off">
  </div>
  <div class='col'>
      <label for="">Passengers:</label>
      <input id="pax" autocomplete="off">
    </div>

<ul class='a'>
{% for result in results %}
<li>{{result.seats }}</li>
{% endfor %}
</ul>
{% endblock %}