{% extends 'polls/layout.html' %}

{% block main %}
<style>input[type='form-check'] {
  transform: scale(2);
}
</style>
<h2>
  <p>Search for a trip</p>
</h2>
<div class='row'>
  <div class='col'>
    <label for="type">Type</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">One-day</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">Overnight</label>
      </div>
  </div>
  <div class='col'>
    <label for="type">Resort</label>   
    <select class="form-control">
      <option>Resort</option>
    </select>    
  </div>
  <div class='col'>
    <label for="pax">Passengers</label>   
      <select class="form-control" id="pax">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
  </div>
  <div class='col'>
    <label for="pax">Skis</label>   
      <select class="form-control" id="pax">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <label for="pax">Snowboards</label>   
      <select class="form-control" id="pax">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <label for="pax">Pairs of boots</label>   
      <select class="form-control form-control-sm" id="pax">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
  </div> 
</div>
<div class='row'>
  <div class="col text-center">
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </div>
</div>

{% for result in results %}    
<div class="list-group list-group-flush">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <h5 class="mb-1">{{ result.title }}</h5>
    <p class="mb-1">{{ result }}</small>
    <p><small>{{ result.time }}</small></p>
  </a>
</div>
{% endfor %}
<script>
  $( '.list-group a' ).on( 'click', function () {
    $( this ).addClass( 'active' );
  });
</script>
{% endblock %}