head{
    position: fixed;
}
body{
    background-color: #c0bebe;
}
.container{    
    background-color: #ffffff
}
img {
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    object-fit: cover;
    width:150px;
    height:150px;
}
.media-body{
    position: relative;
    margin-top: 5%;
    margin-left: 30%;
}
.my-trips {
    position: relative;
    margin-top: 4%;
}
.button{
    position: relative;
    margin-top: 4%;
    width: 25%;
}
/* edit profile button */
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}